debug.flag.TTY
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
acoupleofattachfromgogle
archiveattach (Safety Copy).php
atxtmessage
awrongmsg
amsg
.vscode/
.buildpath
.project
.gitignore
